apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-topic-provisioning
  namespace: learnflow
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
      - command:
        - /bin/sh
        - -c
        - "\n                                echo \"Creating Kafka topics...\"\n \
          \                               kafka-topics --bootstrap-server kafka:9092\
          \ --create --topic learning.events --partitions 12 --replication-factor\
          \ 3 --config retention.ms=604800000 --config compression.type=snappy --config\
          \ min.insync.replicas=2\n                                kafka-topics --bootstrap-server\
          \ kafka:9092 --create --topic dead-letter.queue --partitions 6 --replication-factor\
          \ 3 --config retention.ms=2592000000 --config compression.type=gzip\n  \
          \                              echo \"Verifying topics...\"\n          \
          \                      kafka-topics --bootstrap-server kafka:9092 --list\n\
          \                                kafka-topics --bootstrap-server kafka:9092\
          \ --describe --topic learning.events\n                                kafka-topics\
          \ --bootstrap-server kafka:9092 --describe --topic dead-letter.queue\n \
          \                               echo \"Topic provisioning complete\"\n \
          \                               "
        image: confluentinc/cp-kafka:7.4.0
        name: topic-creation
      restartPolicy: Never
