apiVersion: v1
kind: Service
metadata:
  name: review-agent
  namespace: learnflow
  labels:
    app: review-agent
    tier: backend
    version: v1
spec:
  type: ClusterIP
  ports:
  - port: 8004
    targetPort: 8004
    protocol: TCP
    name: http
  selector:
    app: review-agent